/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 var(--page-padding);
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "IBM Plex mono", monospace;
    font-size: 18px;
    inline-size: 100%;

    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
    display: grid;
    padding-bottom: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr;
    align-items: center;
    position: relative;
    block-size: 100vh;
}

.decorated-zone:after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
}

.decorated-zone:before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    display: block;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
}

.rec-label {
    position: absolute;
    display: flex;
    inline-size: 52px;
    justify-content: space-between;
    align-items: center;
    top: 10px;
    right: 10px;
    color: var(--accent-color);
    line-height: 25px;
}

.rec-label:after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 2px var(--accent-color);

}

.header__theme-menu {
    justify-self: right;
    align-self: center;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    min-inline-size: 70px;
    padding: 1px 13px;
    background-color: transparent;
    border: none;
    line-height: 23px;
    color: var(--accent-color);
    text-transform: lowercase;

}

.header__theme-menu-button_active {
    border: 1px solid var(--accent-color);
}

.page-title {
    font-weight: 700;
    font-size: var(--h1-font-size-mobile);
    line-height: 82.5%;
    color: var(--h1-text-color);
    text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text-content {
    inline-size: 100%;
    justify-self: right;
    align-self: top;
}

.highlighted-text-m {
    background-color: var(--accent-color);
    color: var(--second-text-color);
    font-weight: 700;
    line-height: 23px;
    text-align: start;
}

.highlighted-text-s {
    margin-bottom: 10px;
    background-color: var(--accent-color);
    color: var(--second-text-color);
    font-weight: 400;
    line-height: 23px;
    text-align: start;
}

.main {
    color: var(--regular-text-color);
}

.main__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--main-content-gap);
}

.article__title {
    font-size: 18px;
    line-height: 23px;
    color: var(--accent-color);
}

.article__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--list-gap);
}

.article__subtitle {
    margin-bottom: 10px;
}

.article {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--article-gap);
}

.galery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
    max-width: 100%;
    justify-items: center;
    align-items: center;
    gap: var(--galery-gap);
}

.galery__img {
    width: calc(100vw - var(--page-padding) * 2);
    height: auto;
    display: block;
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    position: relative;
    min-block-size: 100vh;
}