/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --h1-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --h1-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --bg-image: url("../images/cover-image-dark.png");
    --bg-color: #000028;
    --accent-color: #FF0070;
    --regular-text-color: #F1B2CE;
    --h1-text-color: #DB00FF;
    --second-text-color: #000028;
    --page-padding: 10px;
    --main-content-gap: 50px;
    --list-gap: 20px;
    --article-gap: 20px;
    --galery-gap: 10px;
}

@media (min-width: 768px) {
    :root {
        --page-padding: 20px;
        --main-content-gap: 80px;
        --list-gap: 20px;
        --galery-gap: 20px;
    }
}

@media (min-width: 1024px) {
    :root {
        --page-padding: 20px;
        --main-content-gap: 80px;
        --list-gap: 20px;
        --galery-gap: 20px;
    }
}